<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="ShoppingCartEntities" connectionString="metadata=res://*/Context.ShoppingCartContextModel.csdl|res://*/Context.ShoppingCartContextModel.ssdl|res://*/Context.ShoppingCartContextModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-O0I9A16V\SQLEXPRESS;initial catalog=ShoppingCart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>